*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.title{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    background-color: rgb(235, 235, 235);
}

hr{
    height: 3px;
    background-color: lightgray;
}