<div class="container">
    <div class="row">
        <div class="col-4">
            <div class="card" style="width: 18rem;">
                <img src="./../../../assets/image/cenzor.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h6 class="card-title text-danger">Angular list of prohibited words</h6>
                  <button type="button" class="btn btn-success btn-block" [routerLink]="[ '/works/cenzor' ]" routerLinkActive="active">Details</button>
                </div>
            </div>
        </div>

        <div class="col-4">
            <div class="card" style="width: 18rem;">
                <img src="./../../../assets/image/user.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h6 class="card-title text-danger">Angular users list</h6>
                  <button type="button" class="btn btn-success btn-block" [routerLink]="[ '/works/users-list' ]" routerLinkActive="active">Details</button>
                </div>
            </div>
        </div>

        <div class="col-4">
            <div class="card" style="width: 18rem;">
                <img src="./../../../assets/image/task.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h6 class="card-title text-danger">Angular task list</h6>
                  <button type="button" class="btn btn-success btn-block" [routerLink]="[ '/works/task-list' ]" routerLinkActive="active">Details</button>
                </div>
            </div>
        </div>
    </div>
</div>
